:root   {
    --grid-border: solid white 1px;
    --shadow: 1px 5px 2px black, 1px 5px 2px black, 1px -1px 0 black, -1px -1px 0 black;
}

*   {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: Neon;
    src: url(NeonMachine.ttf) format("truetype");
}

body    {
    background-image: url(arcade.jpg);
    background-size: cover;
}

#splash-page  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    z-index: -1;
}

#hero   {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero>p {
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    font-size: 5rem;
    font-family: Neon;
    color: white;
    font-weight: bold;
    text-shadow: var(--shadow);
}

#game-mode  {
    text-align: center;
    width: 50%;    
}

button   {
    margin: 1.5rem;
    padding: 1rem;
    border: solid black 1px;
    box-shadow: 3px 5px rgb(16, 53, 70);
    border-radius: 1rem;
    font-size: 1.5rem;
}

footer  {
    font-size: 1.15rem;
    color: white;
    position: fixed;
    bottom: 0px;
    padding: 1rem;
    display: flex;
    gap: 3rem;
    text-shadow: var(--shadow)
}

a   {
    color: white;
    text-decoration: none;
}

#game-board-overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#player-icons   {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-evenly;
}

.players    {
    width: 125px;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-family: Neon;
    font-size: 2rem;
    box-shadow: var(--shadow);
    transition-property: transform box-shadow;
    transition-timing-function: ease-in-out;
    transform: scale(1);
    transition-duration: .5s;
}

#playerX    {
    color: violet;
    text-shadow: var(--shadow);
    border: solid violet 1px;
}

#playerO    {
    color: turquoise;
    text-shadow: var(--shadow);
    border: solid turquoise 1px;
}

.playerX-active  {
    transform: scale(1.25);
    transition-duration: .5s;
    box-shadow: 0px 0px 80px 35px violet;
}

.playerO-active  {
    transform: scale(1.25);
    transition-duration: .5s;
    box-shadow: 0px 0px 80px 35px turquoise;
}

.X  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: violet;
    font-family: Neon;
    font-size: 5rem;
    
}

.O  {
    display: flex;
    justify-content: center;
    align-items: center;
    color: turquoise;
    font-family: Neon;
    font-size: 5rem;
    
}

#game-board {
    height: 400px;
    width: 400px;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 120px;
    width: 120px;
}

.one    {
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
}

.two    {
    border-bottom: var(--grid-border);
}

.three  {
    border-left: var(--grid-border);
    border-bottom: var(--grid-border);
}

.four   {
    border-right: var(--grid-border);
    border-bottom: var(--grid-border);
}

.five   {
    border-bottom: var(--grid-border);
}

.six    {
    border-left: var(--grid-border);
    border-bottom: var(--grid-border);
}

.seven  {
    border-right: var(--grid-border);
}

.nine   {
    border-left: var(--grid-border);
}

#game-over-overlay  {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#game-over-modal    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 200px;
    width: 100%;
    color: white;
    border: solid black 1px;
}

#game-over-msg  {
    font-size: 2rem;
    font-family: Neon;
    text-shadow: var(--shadow);
}
